.skils-bg{
  border-radius: 12px;
  background: var(--bg-primary);
  margin: 100px 2%;

}

.skils{
  display: flex;
justify-content: space-around;
padding: 64px 0;
}


.formacoes span,
.tecnologias span{
  padding: 0 6px;
  color: var(--text-secondary);
}
.formacoes h2,
.tecnologias h2{
  font-size: 2rem;
  margin-bottom: 32px;
  padding: 0 12px;
}

.formacoes-lista{
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 12px;
}
.formacoes-lista li{
  position: relative;
}
.formacoes-lista li::before{
content: '';
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
background: var(--purple);
position: absolute;
left: -16px;
  top: 8px;
}


.tecnologias-lista{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: 24px;
 max-width: 300px;
}
.tecnologias-lista li{
  font-weight: 600;
}
.tecnologias-lista li img{
  max-width: 60px;
}
@media(max-width:600px){
  .skils{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
}
@media(max-width:500px){
  .formacoes-lista li::before{
    display: none;
  }
  .formacoes span,
  .tecnologias span{
    padding: 0 12px;
    font-size: .8rem;
    color: var(--text-secondary);
  }
}