.sobre {
  display: flex;
  gap: 32px;
  background: var(--purple);
  border-radius: 12px;
  overflow: hidden;
}
.sobre img {
  max-width: 50%;
  max-height: max-content;
  object-fit: cover;
}

.sobre-text {
  display: flex;
  padding: 24px;
  flex-direction: column;
}
.sobre-text > h2 {
  font-size: 2rem;
  margin: 64px 0;
}

.sobre-text p {
  margin-bottom: 32px;
}
@media(max-width:900px){
  .sobre{
    flex-direction: column;
    gap: 0;
  }
  .sobre > img{
    max-width: 100%;
    height: 500px;
  }
  .sobre-text {
    display: flex;
    padding: 12px;
    flex-direction: column;
  }
  .sobre-text > h2 {
    font-size: 2rem;
    margin: 32px 0;
  }
}
