:root{
  --purple:#7E5DCA;
  --bg-primary:#ffffff;
  --bg-body:#EFF1F0;
  --text-light:#ffffffda;
  --text-secondary:#8F8F8F;
  --text-color-decoration:#C3C3C3;
  --bg-footer:#2A2A28;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.shadow{
box-shadow: 4px 4px 8px #0000001c;
}
.load{
  width: 40px;
  height:40px;
  border: 2px solid ;
}

.js .js-animation-scroll{
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: .4s;
}
.js .js-animation-scroll.active{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}